/Users/maziarizadi/OneDrive/alpha-data-science/TextPreProcessing/data.txt
/Users/maziarizadi/OneDrive/alpha-data-science/TextPreProcessing/highFreq.txt
/Users/maziarizadi/OneDrive/alpha-data-science/TextPreProcessing/lowFreq.txt
/Users/maziarizadi/OneDrive/alpha-data-science/TextPreProcessing/sparse.txt
/Users/maziarizadi/OneDrive/alpha-data-science/TextPreProcessing/stopwords_en.txt
/Users/maziarizadi/OneDrive/alpha-data-science/TextPreProcessing/vocab.txt